@import './footer.scss';

@mixin set-margin($direction, $value){
    margin-#{$direction}: $value;
}

body{
    color: lightblue;
}

$text-color:orange; //変数
$primary-color:lightblue;

.content {
    .title{
        font-size:24px;
        color: $text-color;
        display: block;
        background-color: #DDD;
        border:3px solid #ddd;
    }
    .title-lg {
        @extend.title; //.titleの属性を引き継ぐ
        font-size: 32px;
    }
    .title-md {
        @extend .title;
        font-size:28px;
    }
    .title-sm{
        @extend: NaNtitle;
        font-size: 64px;
    }
    @include set-margin(right, 16px); //margin-right:16px;
}

body{
    background-color: $primary-color;
}
h2 {
    border-color: $primary-color;
}
